<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>pFly - Restful Web Application</display-name>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
    	classpath:spring/application-config.xml
    </param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>jersey-servlet</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>com.pfly.rest</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>jersey-servlet</servlet-name>
		<url-pattern>/rest/api/*</url-pattern>
	</servlet-mapping>

	<!-- Spring Security -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/rest/api/tasks/*</url-pattern>
	</filter-mapping>
	
		<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/rest/api/accounts/*</url-pattern>
	</filter-mapping>
			<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/rest/api/projects/*</url-pattern>
	</filter-mapping>
</web-app>